#comonTable{
    width: 100%;
    height: max-content;

}
#comonTable thead tr th{
    width: max-content;
    background-color: blueviolet;
    color: white;
    padding: 5px 5px;
    text-align: center;
    font-size: 13px;
}

#comonTable tbody tr td{
    width: max-content;
    background-color: aliceblue;
    padding: 5px 5px;
    font-size: 13px;
}
#comonTable tbody tr:nth-child(odd) td{
    background-color: antiquewhite;
}
#comonTable tbody tr:hover td{
    background-color: rgb(211, 209, 209);
}